*{
    padding:0;
    margin:0;
}
body{
    background-color: #eee;
    font-family: '아리따-돋움4.0(OTF)', sans-serif;
    font-size: 18px;
}
a{
    text-decoration: none;
    color:black;
}
label{
    cursor: pointer;
}
.logo{
    text-align: center;
    padding-top:60px;
}
.logo img{
    width:400px;
}
#container{
    width:50%;
    background-color: white;
    margin:50px auto;
    text-align: center;
    border-radius: 40px 0 40px 0;
}
#container>h1{
    padding:50px 0;
    color:#664a39;
    font-size: 40px;
}
.text{
    padding-bottom: 30px;
    line-height: 1.5;
}
.loginInput{
    width:50%;
    margin:0 auto;
}
.loginInput>div{
    text-align: left;
}
.id, .pass{
    border:1px solid #ccc;
    padding:30px 20px;
}
.loginInput label{
    font-size: 17px;
}
input{
    border:none;
    outline:none;
    background:transparent;
}
.id input{
    margin-left: 20px;
}
.pass input{
    margin-left:61px;
}
.save{
    padding:10px 0;
}
.btnWrap{
    padding: 40px 0 60px 0;
}
.loginBtn{
    width:50%;
    background-color: orange;
    height:70px;
    margin: 0 auto;
    line-height: 70px;
}
.loginBtn>a{
    color:white;
}
.subBtn{
    padding:50px 0;
}
.loginBtn:hover{
    filter:brightness(115%);
}
.subBtn a{
    padding:0 20px;
    border-right: 1px solid black;
}
.subBtn a:last-child{
    border-right:none;
}


/* ----------------반응형---------------- */

@media screen and (max-width:1600px){

}
@media screen and (max-width:1380px){
    .loginInput {
        width: 60%;
    }
}
@media screen and (max-width:1280px){
    .logo img{
        width:30%;
    }
    #container {
        width: 60%;
    }
}
@media screen and (max-width:980px){
    #container {
        width: 70%;
    }
    .loginInput {
        width: 70%;
    }
    .loginBtn{
        width:70%;
    }
}
@media screen and (max-width:767px){
    body{
        font-size: 15px;
    }
    .loginInput label{
        font-size: 14px;
    }
    .id input, .pass input {
        margin:10px 0 0 0;
        display: block;
    }
    .id, .pass {
        border: 1px solid #ccc;
        padding: 15px 20px;
    }
    .btnWrap {
        padding: 0;
    }
}
@media screen and (max-width:560px){
    body{
        font-size: 14px;
    }
    .logo img{
        width:50%;
    }
    #container>h1 {
        padding: 40px 0;
        font-size: 35px;
    }
    #container {
        width: 90%;
    }
    .loginInput {
        width: 80%;
    }
    .loginBtn{
        width:80%;
        height:50px;
        line-height: 50px;
    }
    .subBtn {
        padding: 40px 0;
    }
    .subBtn a {
        padding: 0px 7px 0px 4px;
    }
}
